.services__container{
    background-image:linear-gradient(to right bottom, var(--color-sky-light), var(--color-sky));
    padding-bottom: 2rem;
    margin:0
   

}
.box__container{
    display: flex;
    justify-content: center;
    color:var(--color-grey);
    margin-bottom: 3rem;
    }
@media (max-width:600px){
    .box__container{
        display: block;
        margin: 0 auto;
    }
}

.services__box{
    width: 30%;
    border: 1px solid var(--color-grey);
    padding: 3rem;
    border-radius: 1rem;
    
}
.services__box:not(:last-child){
    margin-right: 8rem;
}
@media (max-width:600px){
    .services__box{
        display: block;
        width:80%;
        margin: 2rem auto;
        
       
    }
    .services__box:not(:last-child){
        margin:0 auto
    }
    
}

.box__heading{
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-grey);
    font-size: 3rem;
}
@media (max-width:600px){
    .box__heading{
        font-size: 2rem;
    }
}
.box__icon{
    font-size: 3rem;
    
}
.paragraph{
    font-size: 1.5rem;
}
