
.navbar{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  font-family:sans-serif;
  
 

}
.navbar__logo{
  font-size: 4rem;
}
.navbar__logo:hover{
  box-shadow: 0 2rem 3rem var(--color-sky-light);
}
.navbar__logo:link,
 .navbar__logo:visited{
text-decoration: none;
color: var(--color-primary);
}
.menu-icon{
  display: none;
}
.nav__links{
flex: 1;
text-align: right;


}
.nav__links ul li {
list-style: none;
display: inline-block;
padding: .2rem .5rem;

}
.nav__link:link, .nav__link:visited{
text-decoration: none;
font-size: 1.5rem;
color: var(--color-primary);
text-transform: uppercase;
margin-right: 1rem;
}
.nav__links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
display: block;
margin: auto;
background: var(--color-white);
transition: all .4s;
}
.nav__links ul li:hover::after{
  width: 90%;

}
.nav-menu{
  margin-right: 3rem;
  

}
@media (max-width:900px){
  .nav-menu{
    display: flex;
    flex-direction: column;
    width:100%;
    background: var(--color-grey);
    height:100vh;
    position:absolute;
    left: -100%;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    
    justify-content: center;
    opacity: 0;
    transition: all .5s cubic-bezier(1,0 ,0,1);
    

  }
  .menu-icon{
    display: inline-block;
    font-size: 3rem;
  }
  .nav-menu li{
    
    
    display: block;
    margin-bottom: 3rem;
    padding: 1rem 3rem;
    position: relative;
   
   
   
  }
  
  
  .nav-menu.active{
    left: 0;
    opacity: 1;
    z-index: 10;
   
  }
  

}